sherlock-project==0.16.0
maigret==0.6.1
naminter==1.0.4
linkook==1.1.2
holehe==1.61
h8mail==2.5.6
theHarvester==0.0.1
gitfive==1.1.9
ghunt==2.3.4
phoneinfoga==0.1
pillow==10.4.0
imagehash==4.3.2
pytesseract==0.3.13
dnspython==2.8.0
